
<table class="attachments" [formGroup]="generalForm" >
    <tr>
    <td>
        <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Invoice
        </label>
        <input id="file-upload" formControlName="invoice"  accept=".pdf" (change)="selectFile1($event)" type="file"/>
        
    </td>
    <td class="textInput1">{{this.label1}}</td>
    </tr>

  
  <tr>
    <td>
        <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Photo
        </label>
        <input id="file-upload" formControlName="photo"  accept=".jpeg" (change)="selectFile2($event)" type="file"/>
        
    </td>
    <td class="textInput1">{{this.label2}}</td>
  </tr>
  <tr>
    <td>
        <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> E-way Bill
        </label>
        <input id="file-upload" formControlName="bill"  accept=".jpeg" (change)="selectFile3($event)" type="file"/>
        
    </td>
    <td class="textInput1">{{this.label3}}</td>
  </tr>
      

</table>