<table class="attachments" [formGroup]="generalForm">
    <tr>
        <td>
            <label for="file-upload-Invoice" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Invoice
            </label>
            <input id="file-upload-Invoice" (change)="selectInvoice($event)" type="file" />

        </td>
        <td class="textInput1">{{this.lblInvoice}}</td>
    </tr>


    <tr>
        <td>
            <label for="file-upload-photo" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Photo
            </label>
            <input id="file-upload-photo"  (change)="selectPhoto($event)" type="file" />

        </td>
        <td class="textInput1">{{this.lblPhoto}}</td>
    </tr>
    <tr>
        <td>
            <label for="file-upload-eway" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> E-way Bill
            </label>
            <input id="file-upload-eway" (change)="selectEwayBill($event)" type="file" />

        </td>
        <td class="textInput1">{{this.lblEway}}</td>
    </tr>


</table>