<form class="details" [formGroup]="generalForm">

  <div class="form-group row">
    <label for="txtTotPrice" class="col-sm-2 col-form-label">Total Parcels:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" formControlName="totalprice" id="txtTotPrice">
    </div>
  </div>


  <div class="form-group row">
    <label for="txtDeclaredMaterial" class="col-sm-2 col-form-label">Category:</label>
    <div class="col-sm-8">
      <input type="text" (blur)="checkCategory()" [class.errorBox]="categoryError" class="form-control"
        formControlName="category" id="txtDeclaredMaterial">
      <div class="error" *ngIf="categoryError">The field 'Category' cannot be more than 32 length.</div>
    </div>
  </div>
  <div class="form-group row">
    <label for="txtEmail" class="col-sm-2 col-form-label">Consignment Note:</label>
    <div class="col-sm-8">
      <input type="text" (blur)="checkConsignmentnote()" [class.errorBox]="consignmentnoteError" class="form-control"
        formControlName="consignmentnote" id="txtEmail">
      <div class="error" *ngIf="consignmentnoteError">The property 'consignmentNote' is not valid.</div>

    </div>
  </div>
  <div class="form-group row">
    <label for="txtDeclaredWeight" class="col-sm-2 col-form-label">Declared Weight:</label>
    <div class="col-sm-8">
      <input type="text" (blur)="checkDeclared()" [class.errorBox]="declaredWeightError" class="form-control"
        formControlName="declaredweight" id="txtDeclaredWeight">
      <div class="error" *ngIf="declaredWeightError">Declared Weight is required and should be a number </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="txtActualWeight" class="col-sm-2 col-form-label">Chargeable Weight:</label>
    <div class="col-sm-8">
      <input type="text" (blur)="checkActual()" class="form-control" formControlName="actualWeight"
        id="txtActualWeight">
      <div class="error" *ngIf="actualWeightError">Chargeable Weight should be a number </div>
    </div>
  </div>
  <table class="form-group row">
    <tr>
      <td>
        <label for="file-upload-eway" class="col-sm-6 custom-file-upload">
          <i class="fa fa-cloud-upload"></i> Photo
        </label>
        <input id="file-upload-eway" (change)="selectPhoto($event)" type="file" />

      </td>
      <td class="col-sm-6 textInput1">{{this.lblPhoto}}</td>
    </tr>


  </table>



</form>