<div class="container">
    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card search-form">
                <div class="card-body p-0">
                    <form id="search-form" [formGroup]="generalForm">

                        <div class="col-12">
                            <div class="row no-gutters">
                                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                    <input type="text" placeholder="length" formControlName="lengthInch"
                                        class="form-control" id="txtlength" name="search">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 p-0">

                                    <input type="text" placeholder="width" formControlName="widthInch"
                                        class="form-control" id="txtwidth" name="search">

                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 p-0">

                                    <input type="text" placeholder="height" formControlName="heightInch"
                                        class="form-control" id="txtheight" name="search">

                                </div>


                                <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                                    <button (click)="selectInvoice($event)" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card search-form">
                <div class="card-body p-0">

                        <div class="row">
                            <div class="col-md-4" *ngFor="let item of invoiceArray;let i = index">
                                <div class="card mb-4 shadow-sm">
                                    <div class="row g-0">
                                        <div class="col-md-12">
                                            <button type="button" (click)="delete(i)" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                                <span aria-hidden="true" class="white-text"
                                                    style="color: red; ">&times;</span>
                                            </button>
                                            <div class="card-body">
                                                <div>
                                                    <label>Length:</label>
                                                    <span>{{item.lengthInch}}</span>
                                                </div>
                                                <div>
                                                    <label>Width:</label>
                                                    <span>{{item.widthInch}}</span>
                                                </div>

                                                <div>
                                                    <label>Height:</label>
                                                    <span> {{item.heightInch}}</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                </div>
            </div>
        </div>
    </div>

</div>