<form class="customername" [formGroup]="generalForm">
  <div class="form-group row">
    <label for="drpState" class="col-sm-2 col-form-label">State</label>
    <div class="col-sm-8">
      <select id="drpState" formControlName="consigneestate" (change)="onStateChange()" class="form-control">
        <!-- <option selected>Choose...</option> -->
        <option *ngFor="let state of stateLists" [value]="state.id">{{ state.name }} </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="drpCity" class="col-sm-2 col-form-label">City</label>
    <div class="col-sm-8">
      <select id="drpCity" formControlName="consigneecity" class="form-control">
        <!-- <option selected>Choose...</option> -->
        <option *ngFor="let city of cities" [value]="city.name">{{ city.name }} </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="txtconsigneename" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" formControlName="consigneename" id="txtconsigneename" />
    </div>
  </div>
  <div class="form-group row">
    <label for="txtconsigneeadd" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-8">
      <textarea type="text" class="form-control" formControlName="consigneeadd" id="txtconsigneeadd"></textarea>
    </div>
  </div>


  <div class="form-group row">
    <label for="txtPincode" class="col-sm-2 col-form-label">Pin Code</label>
    <div class="col-sm-8">
      <input type="text" (blur)="checkPincode()" class="form-control" formControlName="consigneepincode"
        id="txtPincode">
      <div class="error" *ngIf="pincodeError">pincode should be a number </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="txtEmail" class="col-sm-2 col-form-label">Email Address</label>
    <div class="col-sm-8">
      <input type="email" (blur)="checkEmail()" class="form-control" formControlName="consigneeemailadd" id="txtEmail">
      <div class="error" *ngIf="emailError">Email must be a valid </div>
    </div>

  </div>
  <div class="form-group row">
    <label for="txtMobile" class="col-sm-2 col-form-label">Mobile Number</label>
    <div class="col-sm-8">
      <input type="text" (blur)="checkNo()" class="form-control" formControlName="consigneemobileno" id="txtMobile">
      <div class="error" *ngIf="noError">Mobile No should be a numeric value</div>
    </div>
  </div>


</form>
<div class="next form-group row" *ngIf="tab==3">
  <div class="col-sm-10">
    <button (click)="submit()" class="btn btn-primary">Submit</button>
  </div>
</div>