<h5>Edit Consignment-{{data.consignmentId}}</h5>

<div class=comp2 [formGroup]="generalForm">
    <div class="heading1">
        <section (click)="section===1?section=0:section=1" [ngClass]=" {'active-tab': section===1 }">Update Status
        </section>
        <div *ngIf="section==1">
            <div class="col-md-8">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Update Carrier</legend>
                    <div class="control-group">

                        <div class="form-group row">
                            <label for="file-upload-eway" class="col-sm-2 col-form-label custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> E-way Bill
                            </label>
                            <input id="file-upload-eway" (change)="selectEwayBill($event)"
                                type="file" />

                            <div class="col-sm-8 textInput1">
                                {{this.lblEway}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtcarrier" class="col-sm-3 col-form-label">Carrier</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="txtcarrier" formControlName="carrier">
                            </div>
                        </div>

                    </div>
                </fieldset>
                <div class="form-group row">
                    <label for="txtname" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select id="drpCityConsigner" (change)="onSelectionChange($event.target.value)"
                            formControlName="statusLabel" class="form-control">
                            <!-- <option selected>Choose...</option> -->
                            <option *ngFor="let status of statusData" [value]="status">{{ status }} </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 20px;">
                    <label for="txtname" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <button type="button" (click)="submitUpdateSection()" class="btn btn-elegant btnStyle"><i
                                aria-hidden="true" class="icon-angle-double-right"
                                style="margin-right: 5px;"></i>Submit</button>

                                <div>
                                    <label id="lblStatus" class="" >{{lblStatus}}</label>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="heading1">
        <section (click)="section===2?section=0:section=2" [ngClass]=" {'active-tab': section===2 }">Reschedule Delivery
        </section>
        <div *ngIf="section==2">
            <div class="form-group row" style="margin-top: 20px;">
                <label for="txtRescheduledDate" class="col-sm-3 col-form-label">Rescheduled Date</label>
                <div class="col-sm-8">
                    <input placeholder="Date Time:" class="form-control" formControlName="txtRescheduledDate"
                        [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" id="dateDelivery">
                    <owl-date-time #dt1></owl-date-time>
                </div>
            </div>


            <div class="form-group row" style="margin-top: 20px;">
                <label for="txtReason" class="col-sm-3 col-form-label">Reason</label>
                <div class="col-sm-8">
                    <textarea type="text" formControlName="reason" class="form-control" id="txtReason"></textarea>
                </div>
            </div>
            <div class="form-group row" style="margin-top: 20px;">
                <label for="txtname" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <button type="button" (click)="submitRescheduleSection()" class="btn btn-elegant btnStyle"><i
                            aria-hidden="true" class="icon-angle-double-right"
                            style="margin-right: 5px;"></i>Submit</button>
                            <span>
                                <label id="lblStatusRes" class="" >{{lblReschedule}}</label>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="heading3">
        <section (click)="section===3?section=0:section=3" [ngClass]=" {'active-tab': section===3 }">Assign
        </section>
        <div *ngIf="section==3">
            <div class="form-group row" style="margin-top: 20px;">
                <label for="txtname" class="col-sm-3 col-form-label">Select Employees</label>
                <div class="col-sm-9">
                    <select id="drpEmployee" formControlName="employeeList" class="form-control">
                        <option *ngFor="let item of drpEmployee" [value]="item.userPrincipalName">{{ item.displayName }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row" style="margin-top: 20px;">
                <label for="txtname" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <button type="button" class="btn btn-elegant btnStyle" (click)="assignEmployee()"><i
                            aria-hidden="true" class="icon-angle-double-right"
                            style="margin-right: 5px;"></i>Submit</button>
                            <span>
                                <label id="lblStatusAssign" class="" >{{lblStatusAssign}}</label>
                            </span>
                </div>
            </div>

        </div>
    </div>

</div>
<div mat-dialog-actions>
    <button type="button" class="btn btn-secondary" (click)="onNoClick()" style="letter-spacing: 0px;
    text-transform: capitalize;">Close</button>
</div>