
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
<header class="site-navbar js-site-navbar site-navbar-target " role="banner" id="site-navbar">
  <div class="header-top d-none d-lg-block header_topstyle">
    <div class="container" >
    <div class="col-xl-12">
    <div class="row d-flex justify-content-between align-items-center">
    <div class="header-info-left">
    <ul style="padding-left: 0px;">
    <li><span class="icon-mobile"></span> : +91 90354 99555</li>
    <li><span class="icon-envelope"></span> :	info@reeyasafelogistics.com</li>
    <!-- <li routerLink="/login"><span class="icon-user"></span> Login</li> -->
    
    </ul>
    </div>
    <div class="header-info-right">
    <ul class="header-social">
    <li><a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a></li>
    <li><a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a></li>
    <li><a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a></li>
    <li> <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a></li>
    </ul>

    </div>
    </div>
    </div>
    </div>
    </div>
  <div class="container">
    <div class="row align-items-center adding_apdding">
      
      <div class="col-11 col-xl-2 site-logo">
        <div class="logo">
          <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
          </div>
      </div>
      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

          <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
            <li><a  onclick="window.location.href='/home#section-home'"  class="nav-link">Home</a></li>
            <li class="has-children">
              <a onclick="window.location.href='/home#About_us'" class="nav-link">About Us</a>
              <ul class="dropdown">
                <li><a onclick="window.location.href='/home#Profile'" class="nav-link">Profile</a></li>
                <li><a  onclick="window.location.href='/home#Quality_policy'"  class="nav-link">Quality Policy</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#" class="nav-link">Services</a>
              <ul class="dropdown">
                <li><a href="#" class="nav-link">Premium Air Cargo Service</a> </li>
                <li><a href="#" class="nav-link">Air Cargo Services</a></li>
                <li><a href="#" class="nav-link">Train Cargo Service</a></li>
                <li><a href="#" class="nav-link">Express Services</a></li>
                <li><a href="#" class="nav-link">Warehousing Service</a></li>
              </ul>
            </li>
            <li><a href="#" class="nav-link">Network</a></li>
            
            <li  style="cursor: pointer;" ><a onclick="window.location.href='/home#section-contact'">Contact</a></li>
            
            <li style="cursor: pointer;" ><a  onclick="window.location.href='/dashboard'">Consignments</a></li>
           
          </ul>
          
        </nav>
       
      </div>


      <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
        <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>

      </div>

    </div>
  
  
</header>