
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar js-site-navbar site-navbar-target " role="banner" id="site-navbar">
      <div class="header-top d-none d-lg-block header_topstyle">
        <div class="container" >
        <div class="col-xl-12">
        <div class="row d-flex justify-content-between align-items-center">
        <div class="header-info-left">
        <ul style="padding-left: 0px;">
        <li><span class="icon-mobile"></span> : +91 90354 99555</li>
        <li><span class="icon-envelope"></span> :	info@reeyasafelogistics.com</li>
        <!-- <li routerLink="/login"><span class="icon-user"></span> Login</li> -->
        
        </ul>
        </div>
        <div class="header-info-right">
        <ul class="header-social">
        <li><a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a></li>
        <li><a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a></li>
        <li><a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a></li>
        <li> <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a></li>
        </ul>

        </div>
        </div>
        </div>
        </div>
        </div>
      <div class="container">
        <div class="row align-items-center adding_apdding">
          
          <div class="col-11 col-xl-2 site-logo">
            <div class="logo">
              <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
              </div>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="#section-home" class="nav-link">Home</a></li>
                <li class="has-children">
                  <a href="#About_us" class="nav-link">About Us</a>
                  <ul class="dropdown">
                    <li><a href="#Profile" class="nav-link">Profile</a></li>
                    <li><a href="#Quality_policy" class="nav-link">Quality Policy</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#" class="nav-link">Services</a>
                  <ul class="dropdown">
                    <li><a href="#" class="nav-link">Premium Air Cargo Service</a> </li>
                    <li><a href="#" class="nav-link">Air Cargo Services</a></li>
                    <li><a href="#" class="nav-link">Train Cargo Service</a></li>
                    <li><a href="#" class="nav-link">Express Services</a></li>
                    <li><a href="#" class="nav-link">Warehousing Service</a></li>
                  </ul>
                </li>
                <li><a href="#" class="nav-link">Network</a></li>
                
                <li><a href="#section-contact" class="nav-link">Contact</a></li>
                <li><a href="/login" >Login</a></li>
                
              </ul>
              
            </nav>
           
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      
      
    </header>

   

    <div class="site-blocks-cover overlay" style="background-image: url(assets/images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
            

            <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up">We make contactless, safe and reliable shipping</h1>
            <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Safe Logistics Pvt.Ltd</p>
            <p data-aos="fade-up" data-aos-delay="200"><a href="#Track_shipment" class="btn btn-primary py-3 px-5 text-white">Track Your Shipment</a></p>

          </div>
        </div>
      </div>
    </div>  
    <div class="site-section" id="Track_shipment">
      <div class="container" style="margin-top: 110px;">
        <div class="row mb-5">
          
          <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/images/img_4.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-6 order-md-1" data-aos="fade-up">
            <div class="text-left pb-1 border-primary mb-4">
              <h2 class="text-primary">Track Your Shipment </h2>
            </div>
           
              <form action="#" class=" bg-white" style="margin-top: 50px;">
             
                <div class="row form-group">
                  
                  <div class="col-md-12">
                   
                    <input type="text" id="lname" class="form-control" placeholder="Your Tracking ID">
                  </div>
                </div>
                <input class="form-control d-none" data-recaptcha="true" required="" data-error="Please complete the Captcha">
                <div class="help-block with-errors"></div>
                <button class="btn btn-primary text-white" type="button" id="button-addon2" style="margin-top: 100px;">Track & Trace</button>
               
            </form>
            
              
          
          </div>
          
        </div>
      </div>
    </div>


    <div class="site-section" id="About_us">
      <div class="container">
        <div class="row mb-5">
          
          <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/images/img_3.jpg" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-6 order-md-1" data-aos="fade-up">
            <div class="text-left pb-1 border-primary mb-4">
              <h2 class="text-primary">About Us</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti reprehenderit animi est eaque corporis! Nisi, asperiores nam amet doloribus, soluta ut reiciendis. Consequatur modi rem, vero eos ipsam voluptas.</p>
            <p>Reeya Safe Logistics Pvt Ltd, help our customers to safely transport their precious belongings at their desired destinations. Since we provide time-bound transportation services, our deliverable are both secured and assured. As a leading Logistic service provider, we understand the importance of logistic activities, and so believe in providing secured and cost-effective transportation facilities to both domestic and international clients.</p>         
            <div class="row mb-5 align-items-stretch">
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up">
                <div class="h-entry">
                  <a href="#"><img src="assets/images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                  <h2 class="font-size-regular"><a href="single.html">Premium Air Cargo Service</a></h2>
                  <a href="#" class="learnmore">Service Details</a>
                  
                </div> 
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="h-entry">
                  <a href="#"><img src="assets/images/blog_2.jpg" alt="Image" class="img-fluid"></a>
                  <h2 class="font-size-regular"><a href="single.html">Air Cargo Services</a></h2>
                  <a href="#" class="learnmore">Service Details</a>
                  
                </div> 
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="h-entry">
                  <a href="#"><img src="assets/images/blog_3.jpg" alt="Image" class="img-fluid"></a>
                  <h2 class="font-size-regular"><a href="single.html">Train Cargo Service</a></h2>
                  <a href="#" class="learnmore">Service Details</a>
                 
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  
    
   
    <div class="site-section bg-image overlay" style="background-image: url('assets/images/hero_bg_4.jpg');" id="Profile">
      <div class="container" style="padding:100px 0 200px 0;">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary" data-aos="fade">Profiles</h2>
         </div>
        
        </div>
        <p style="color:white">Reeya Safe Logistic providers for complete solutions for Cargo & Logistic Services f Premium Air Cargo Services, Air Cargo Services, Train Cargo Service, Express Cargo, ODA Cargo & Warehousing Services, Our organization provides pick up of cargo customs clear load in vessel/flight and customs clear and deliver at destination. Professional associated with us render these services using latest technology, which enables them to meet the client's demands with efficiency. Our client can avail these services at affordable.</p>         
        <p style="color:white">Having branches in all major cities in India Like :: Delhi, Bangalore, Mysore, Gurgaon, Hyderabad, Mumbai, Pune, Chandigarh, Ludhiana, Chennai, we provide mentioned all services all over India to any destination with door to door delivery of your valuable goods.</p>
      </div>
    </div>

    <div class="site-section border-bottom" id="Quality_policy">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary" data-aos="fade">Quality Policy</h2>
          </div>
        </div>
        <p>logistics & Warehouse services offered by us have always been straying the focus on providing the consignment at your premises in time and maintaining its authenticity simultaneously. Thus, we put in our efforts to integrate all the quality-related functions and processes in the company. Utilizing different measures such as managing quality design & development, control & maintenance and improvement & assurance, we ensure to keep up the pace with the customer requirements accordingly. Additionally, we ensure to arrange & label the products systematically, so as to ensure that there is no confusion at the time of retrieval.</p> 

        <p>Being a logistic service enterprise, we have been able to do striven work, so as to provide an amalgamation of materials handling and working of procurement & allocation management.</p>
        <a href="#">Our Quality Policy includes :</a>
        <p>Safety of the products,  Safe loading and unloading  &  Storage ensuring the safety of the products

        </p>
      </div>
    </div>