<div class=comp2>
    <div class="heading1">
        <section (click)="section===1?section=0:section=1" [ngClass]=" {'active-tab': section===1 }">Schedule</section>
        <div *ngIf="section==1">
            <app-schedule [initialFormDetail]="this.initialFormDetails" (Schedule)=Schedule($event)
                (disableNext)="disableNexts($event)"></app-schedule>
        </div>
    </div>
    <div class="heading1">
        <section (click)="section===2?section=0:section=2" [ngClass]=" {'active-tab': section===2 }">Details</section>
        <div *ngIf="section==2">
            <app-details [initialFormDetail]="this.initialFormDetails" (disableNext)="disableNexts($event)"
                (Details)=Details($event)></app-details>
        </div>
    </div>
    <div class="heading1">
        <section (click)="section===3?section=0:section=3" [ngClass]=" {'active-tab': section===3}">Invoices</section>
        <div *ngIf="section==3">
            <app-invoices [initialFormDetail]="this.initialFormDetails" (Invoices)=invoices($event)></app-invoices>
        </div>
    </div>
    <div class="heading1">
        <section (click)="section===4?section=0:section=4" [ngClass]=" {'active-tab': section===4 }">Items</section>
        <div *ngIf="section==4">
            <app-items [initialFormDetail]="this.initialFormDetails" (Items)=items($event)></app-items>
        </div>
    </div>
    <div class="heading3">
        <section (click)="section===5?section=0:section=5" [ngClass]=" {'active-tab': section===5 }">Remarks</section>
        <div *ngIf="section==5">
            <app-remarks [initialFormDetail]="this.initialFormDetails" (Remarks)=remarks($event)></app-remarks>
        </div>
    </div>
    <!-- <div class="heading3">
        <section (click)="section===3?section=0:section=3" [ngClass]=" {'active-tab': section===3 }">Attachments
        </section>
        <div *ngIf="section==3">
            <app-attachments [initialFormDetail]="this.initialFormDetails" (Attachments)=Attachments($event)>
            </app-attachments>
        </div>
    </div> -->
</div>