<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

  <!-- Bootstrap core CSS -->
  <link href="/assets/dashboard/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/dashboard/dashboard.css" rel="stylesheet">
  <style>
body{margin-top:20px;}

  </style>
</head>

<body>

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">

 
    <div class="col-11 col-xl-2 site-logo" class="logoPadding"> 
      <div class="logo">
        <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
        </div>
    </div>
    
    <a class="navbar-brand col-sm-1 col-md-1 mr-0" href="#"
      class="signoutAlign">Sign out</a>
  </nav>
  <nav class="navbar">

    <span class="addNewBtn">Dashboard</span>
    <span><button type="button" [routerLink]="['/consignment']" class="btn btn-success">Add New</button></span>

  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of consignmentList">
        <div class="card mb-4 shadow-sm">

          <div class="row g-0">

            <div class="col-md-12" style="margin-bottom: -8px;">
              <div class="card-body">
                <h5 class="card-title" class="cardTitle">{{item.customerName}} - {{item.trackingId}}</h5>
                <div>
                  <label>PickUp On:</label>
                  <span> {{item.pickupDate}}</span>
                </div>
                <div>
                  <label>Delivery On:</label>
                  <span>{{item.deliveryDate}}</span>
                </div>

                <div>
                  <label>From:</label>
                  <span>{{item.fromCity}}</span>
                </div>

                <div>
                  <label>To:</label>
                  <span> {{item.toCity}}</span>
                </div>

                <div>
                  <label>Status:</label>
                  <span>{{item.status}}</span>
                </div>


                <h5 _ngcontent-qda-c83="" class="card_footer">
                  <button type="button" class="btn btn-elegant btnStyle"  mat-button (click)="openDialog()"
                    ><i class="icon-map-marker" class="btnaddMargin"
                      aria-hidden="true"></i>Map</button>
                  <button type="button" class="btn btn-elegant btnStyle" mat-button (click)="openEditDialog(item.id)">
                    <i class="icon-image btnaddMargin"
                       aria-hidden="true"></i>photo</button>

                      <button type="button" class="btn btn-elegant btnStyle" mat-button (click)="openEditDialog(item.id)">
                        <i class="icon-image btnaddMargin"
                         aria-hidden="true"></i>E-way Bill</button>

                        <button type="button" class="btn btn-elegant btnStyle" mat-button (click)="openEditDialog(item.id)">
                          <i class="icon-image btnaddMargin"
                          aria-hidden="true"></i>Edit</button>



                </h5>



                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="/assets/dashboard/popper.min.js"></script>
  <script src="/assets/dashboard/bootstrap.min.js"></script>

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>


</body>

</html>