
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="/assets/dashboard/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/dashboard/dashboard.css" rel="stylesheet">
    <style>
      label {
  display: inline-block;
  
  text-align: left;
  font-weight: bold;
}​
span{display: inline-block;}
button#dropdownMenuButton {
    letter-spacing: 0px;
    text-transform: capitalize;
}
button#dropdownMenuButton {
    float: right;
    margin-bottom: 20px;
    background-color: #3b81b1;
}
h5.card-title {
  color: white;
    /* border-left: 10px solid gray; */
    border: 1px solid #dacaca;
    padding: 5px;
    background: #3b81b1;
}
    </style>
  </head>

  <body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" style="color: white; font-size: 20px;">Reeya</a>
        </li>
      </ul>
      <a class="navbar-brand col-sm-1 col-md-1 mr-0" href="#" style="font-size: 10px !important; color:#ccc; text-align: center;">Sign out</a>
    </nav>
    <div class="container" style="width: 1200px; max-width: 0 auto;">
      <div class="row">
        <div class="col-md-3" *ngFor="let item of consignmentList" >
          <div class="card mb-4 shadow-sm">
         
            <div class="row g-0">
             
              <div class="col-md-12">
                <div class="card-body">
                  <h5 class="card-title">{{item.customerName}}</h5>
                  <div>      
                    <label>PickUp On:</label>
                    <span> {{item.pickupDate}}</span>
                  </div> 
                  <div>      
                    <label>Delivery On:</label>
                    <span>{{item.deliveryDate}}</span>
                  </div> 
                    
                  <div>      
                    <label>From:</label>
                    <span>{{item.fromCity}}</span>
                  </div> 
                    
                  <div>      
                    <label>To:</label>
                    <span> {{item.toCity}}</span>
                  </div> 
                    
                  <div>      
                    <label>Status:</label>
                    <span>{{item.status}}</span>
                  </div> 
                    
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
      
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/assets/dashboard/popper.min.js"></script>
    <script src="/assets/dashboard/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

 
  </body>
</html>
